body{
    margin: 0px;
}
/*the navbar*/
.nav-container{
    position: relative;
}
.navbar{
    background-color: #e4e3e3;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.navbar ul{
    margin: 0;
    padding: 0;
}

.navbar li{
    display: inline-block;
    padding : 15px 25px;
}

.navbar a{
    text-decoration: none;
    font-size: 17px;
    color: #3d3a3a;
    float: left;
}

.navbar a:hover{
    font-size: 19.5px ;
}
/*****top section*****/
/*pictures*/
.top{
    padding-top: 60px;
    text-align: center;
    background-color: #84a9ac;
}
.clouds{
    width: 175px;
    height: auto;
}
.first-cloud{
    position: absolute;
    right: 200px;
    top: 160px;
  
}
.mountain{
    position: relative;
    top: 20px;
    padding-bottom: 30px;
    height: 379px;
    width: auto;
}
.second-cloud{
    position: absolute;
    left: 220px;
    top: 230px;
}
.third-cloud{
    position: absolute;
    right: 400px;
    top: 200px;
}
